.about{
    width: 100%;
    background-color: white;
    padding: 160px 0 244px;
}

.about-content{
    width: var(--primary-width);
    margin: 0 auto;
    display: flex;
    position: relative;
}

.content{
    flex-grow: 1;
    padding-top: 98px;
    padding-right: 180px;
}

.about-content .img{
    min-width: 445px;
    height: 512px;
    border-top-right-radius: 185px;
    background: url(../img/Photo-53.jpg) top center / cover no-repeat;
    position: relative;
    z-index: 2;
}

.about-icon{
    width: 220px;
    height: 220px;
    background: url(../img/Pattern.svg) top center / contain no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: -90px;
    z-index: 1;
}

.counts{
    width: 100%;
    padding: 64px 0 48px;
    background: url(../img/Photo-52.jpg) top center / cover no-repeat;
}

.count-content{
    width: var(--primary-width);
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}

.count-item{
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.count-item + .count-item{
    border-left: 1px solid #807c7c;
}

.count__img{
    width: 60px;
    height: 75px;
}

.count__name{
    margin-top: 8px;
    font-size: 2.6rem;
    line-height: 2.6rem;
}

.count__des{
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 240px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
    color: var(--primary5-color);
}

.count__seemore{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--primary1-color);
}

.team{
    width: 100%;
    background-color: var(--primary5-color);
    padding: 148px 0 130px;
}

.team-content{
    width: var(--primary-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    gap: 12px;
}

.team-item{
    padding-bottom: 22px;
}

.team-item__img{
    width: 268px;
    height: 288px;
}

.team-item__name{
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: 800;
    line-height: 2.2rem;
}

.team-item__position{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--primary3-color);
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.big-quotation{
    margin-top: 22px;
}

.testimonial{
    padding-bottom: 110px;
}

.testimonial-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonial-nav p{
    padding: 0 160px;
}

.testimonial-nav button{
    font-size: 2.8rem;
    padding: 40px 30px;
    color: var(--primary1-color);
    background-color: transparent;
    border: none;
}

.person{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-quotation::before{
    left: calc(50% - 50px);
}