:root{
    --primary1-color: #e1b168;
    --primary2-color: #292e36;
    --primary3-color: #555555;
    --primary4-color: #343942 ;
    --primary5-color: #fff8f5;
    --navigation-color: #7f8286 ;
    --navigation-active-color: #d9d9d9;

    --text-color: #d7d7d7;
    --primary-width: 1103px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

ul{
    padding-left: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    /* Font-size: 100%; = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
}
/* Properties */
.mt-80{
    margin-top: 80px;
}

.mt-6{
    margin-top: 6px !important;
}

.mt-8{
    margin-top: 8px;
}

.pdtop-30{
    padding-top: 30px;
}

.pdtopbot-8{
    padding: 8px 0;
}

.color-white{
    color: white !important;
}

/* font size */
.fs-heading{
    font-size: 3.2rem;
    line-height: 2.8rem;
}

/* font family */
.ff-2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

.btn{
    font-family: 'Josefin Sans', sans-serif;
    height: 53px;
    width: 185px;
    text-align: center;
    line-height: 53px;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn-cart{
    background-color: transparent;
    padding: 16px;
    border: none;
    position: absolute;
    left: -70px;
}

.btn-cart a{
    color: white;
    font-size: 2.2rem;
}

.bg-primary1{
    background-color: var(--primary1-color);
    color: var(--primary2-color);
    border: none;
    font-weight: 550;
}

.bg-primary2{
    background-color: var(--primary2-color);
    color: var(--text-color);
    border: 2px solid var(--primary1-color);
    font-size: 1.6rem;
}

.bg-white{
    background-color: white;
    color: var(--primary1-color);
    border: 2px solid var(--primary1-color);
}

.line-separate{
    border-top: 1px solid rgb(111, 109, 109);
    width: 100%;
}

.space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Grid */

/* Section */
/* div */
.section__heading{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 4px;
    padding: 6px 0 4px;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid var(--primary1-color);
    border-bottom: 1px solid var(--primary1-color);
    display: inline-block;
}
/* h2 */
.section__title{
    width: 100%;
    font-size: 3.2rem;
    line-height: 4.4rem;
    font-weight: 600;
}
.about-heading{
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
}

/* p */
.about-description{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 12px;
    color: var(--primary3-color);
}

/* Person */
.person{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
}

.person__img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.person-info{
    flex-grow: 1;
    padding: 22px 22px;
}

.person-info__name{
    font-size: 2.4rem;
    line-height: 3.8rem;
}
.person-info__city{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--primary1-color);
}

.person__comment{
    margin-top: 20px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
    line-height: 3rem;
}

.person-quotation::before{
    content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: url(../img/“-1.svg) center / 12px no-repeat;
    background-color: var(--primary1-color);
    border: 2px solid black;
}