:root{
    --primary1-color: #e1b168;
    --primary2-color: #292e36;
    --primary3-color: #555555;
    --primary4-color: #343942 ;
    --primary5-color: #fff8f5;
    --primary6-color: #1f242c;
    --navigation-color: #7f8286 ;
    --navigation-active-color: #d9d9d9;

    --text-color: #d7d7d7;
    --primary-width: 1103px;
    --modal-width:848px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

ul{
    padding-left: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    /* Font-size: 100%; = 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* Properties */
.mt-80{
    margin-top: 80px;
}

.mt-6{
    margin-top: 6px !important;
}

.mt-8{
    margin-top: 8px;
}

.pdtop-30{
    padding-top: 30px;
}

.pdtopbot-8{
    padding: 8px 0;
}

.color-white{
    color: white !important;
}

.color-primary1{
    color: var(--primary1-color) !important;
}

/* font size */
.fs-heading{
    font-size: 3.2rem;
    line-height: 2.8rem;
}

.list-col-left{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    align-items: flex-start;
}

.list-col-right{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    align-items: flex-end;
}
/* font family */
.ff-2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2.8rem;
}

.btn{
    font-family: 'Josefin Sans', sans-serif;
    height: 53px;
    width: 185px;
    text-align: center;
    line-height: 53px;
    font-size: 1.8rem;
    font-weight: 400;
}

.btn-seeall{
    margin-top: 44px;
}

.btn-cart{
    background-color: transparent;
    padding: 16px;
    border: none;
    position: absolute;
    left: -70px;
}

.btn-cart a{
    color: white;
    font-size: 2.2rem;
}

.bg-primary1{
    background-color: var(--primary1-color);
    color: var(--primary2-color);
    border: none;
    font-weight: 550;
}

.bg-primary2{
    background-color: var(--primary2-color);
    color: var(--text-color);
    border: 2px solid var(--primary1-color);
    font-size: 1.6rem;
}

.bg-white{
    background-color: transparent;
    color: var(--primary1-color);
    border: 2px solid var(--primary1-color);
}

.bg-white2{
    background-color: white;
    color: var(--primary2-color);
    border: none;
}

.line-separate{
    border-top: 1px solid rgb(111, 109, 109);
    width: 100%;
}

.space-between{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
/* Grid */

#app{
    width: 100%;
}

/* Banner */

#banner{
    width: 100%;
    background-color: var(--primary2-color);
    position: relative;
    padding-top: 50px;
}

/* Header: info, mennu, welcome|title */

#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header-info: btn , logo, btn*/

.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    width: var(--primary-width);
}

.header-info__logo{
    background: url(../img/Logo-19.svg) top center / cover no-repeat;
    width: 304px;
    height: 150px;
    color: var(--primary1-color);
}

.cart-and-reservation{
    position: relative;
}

/* Header-menu: navbar, socials */

.header-menu{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--primary-width);
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar li a{
    color: var(--text-color);
}

.navbar__item:nth-child(1){
    padding-left: 4px;
}

.navbar__item{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials li a{
    color: white;
}

.socials__item{
    padding: 0 8px;
    font-size: 1.8em;
}

.socials__item:last-child{
    padding-right: 0px;
}

/* Signature */
.about-signature{
    margin-top: 50px;
}

.about-signature__name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.about-signature__img{
    margin-top: 20px;
    width: 140px;
    height: 80px;
}

/* Section */
.section{
    padding: 158px 0 68px;
}

.section__heading{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 4px;
    padding: 6px 0 4px;
    font-family: 'Josefin Sans', sans-serif;
    border-top: 1px solid var(--primary1-color);
    border-bottom: 1px solid var(--primary1-color);
    display: inline-block;
}

.section__title{
    width: 100%;
    font-size: 3.2rem;
    line-height: 4.4rem;
    font-weight: 600;
}
.about-heading{
    font-size: 2.6rem;
    line-height: 2.6rem;
    font-weight: 700;
}


.about-description{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 12px;
    color: var(--primary3-color);
}

/* Person */
.person{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 16px;
}

.person__img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.person-info{
    flex-grow: 1;
    padding: 22px 22px;
}

.person-info__name{
    font-size: 2.4rem;
    line-height: 3.8rem;
}
.person-info__city{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--primary1-color);
}

.person__comment{
    margin-top: 20px;
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
    line-height: 3rem;
}

.person-quotation::before{
    content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: url(../img/“-1.svg) center / 12px no-repeat;
    background-color: var(--primary1-color);
    border: 2px solid black;
}

/* Reservation */
.reservation{
    width: 100%;
    padding: 158px 0 164px;
    background: url(../img/csx1678294662.jpg) top center / cover no-repeat;
    opacity: 1;
}

.reservation-content{
    width: var(--modal-width);
    margin: 0 auto;
    padding: 120px 126px;
    background-color: #2a3038f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.reservation-form{
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 28px;
}

.reservation-form input{
    height: 56px;
    background-color: transparent;
    border: 1px solid rgb(176, 168, 168);
    font-family: 'Josefin Sans', sans-serif;
    flex-grow: 1;
}

.reservation-form input::placeholder{
    padding: 14px 18px;
    color: white;
    font-size: 1.8rem;
}

.reservation-form div{
    gap: 24px;
}

/* Menu */
.menu{
    width: 100%;
    background-color: white;
    color: var(--primary2-color);
    padding: 160px 0 120px;
}

.menu-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: var(--primary-width);
    margin: 0 auto;
}

.menu-offers{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
}

.menu-offers__img{
    margin-top: 50px;
    background: url(../img/Photo-offers.png) top left / cover no-repeat;
    width: 100%;
    height: 440px;
}

.menu-lists{
    width: 70%;
    margin-top: 25px;
}

.menu-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 120px;
}

.menu-heading{
    width: 100%;
    font-size: 3.2rem;
    line-height: 3.2rem;
}

.menu-list{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.menu-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.menu-item__img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.menu-item__info{
    margin-left: 18px;
    flex-grow: 1;
}

.item-info__heading{
    font-size: 2.4rem;
    line-height: 2.2rem;
}

.menu-item__price{
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
}

/* Footer */

#footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: var(--primary6-color);
    color: white;
    padding-top: 80px;
}

.footer-content{
    width: var(--primary-width);
    margin: 0 auto;
    padding-bottom: 58px;
}

.feeds{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

.feed{
    height: 50px;
}

.feed-link{
    height: 100%;
    line-height: 50px;
    font-size: 2rem;
    color: white;
}

.footer__logo{
    background: url(../img/footer-logo.png) top center / contain no-repeat;
    color: var(--primary1-color);
    width: 241px;
    height: 160px;
}

.footer-list-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-list-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-list-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#footer .about-description{
    color: white;
    width: 242px;
    text-align: center;
}

.mailing-form{
    display: flex;
    border: 1px solid rgb(202, 197, 197);
    margin-top: 30px;
}

.mailing-input{
    width: 286px;
    height: 53px;
    border: none;
    background-color: transparent;
}

.mailing-input::placeholder{
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: white;
}

.footer-copyright{
    height: 70px;
    width: var(--primary-width);
    margin: 0 auto;
}