#app{
    width: 100%;
}

/* Banner */

#banner{
    width: 100%;
    background-color: var(--primary2-color);
    position: relative;
    padding-top: 50px;
}

/* Header: info, mennu, welcome|title */

#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header-info: btn , logo, btn*/

.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    width: var(--primary-width);
}

.header-info__logo{
    background: url(../img/Logo-19.svg) top center / cover no-repeat;
    width: 304px;
    height: 150px;
    color: var(--primary1-color);
}

.cart-and-reservation{
    position: relative;
}

/* Header-menu: navbar, socials */

.header-menu{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--primary-width);
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar li a{
    color: var(--text-color);
}

.navbar__item:nth-child(1){
    padding-left: 4px;
}

.navbar__item{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials li a{
    color: white;
}

.socials__item{
    padding: 0 8px;
    font-size: 1.8em;
}

.socials__item:last-child{
    padding-right: 0px;
}

/* Header - welcome */

.header-welcome{
    width: 100%;
    padding: 155px 215px;
    position: relative;
}

.header-welcome__title{
    display: inline-block;
    font-size: 7.6rem;
    line-height: 6.2rem;
    width: 600px;
    color: white;
}

.header-welcome__subtitle{
    padding: 30px 0 36px;
    font-size: 1.6rem;
    line-height: 2rem;
    width: 550px;
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
}

.header-welcome__icon{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 20px;
    right: 70px;
    background: url(../img/Pattern-1.svg) center / contain no-repeat;
}

.header-welcome__showview{
    height: 570px;
    width: 526px;
    position: absolute;
    top: 22px;
    right: 200px;
    background-color: white;
    border-top: 24px solid var(--primary4-color);
    border-left: 24px solid var(--primary4-color);
    border-right: 24px solid var(--primary4-color);
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
}

.showview__img{
    background: url(../img/Photo-73.jpg) top center / cover no-repeat;
    position: absolute;
    top: 0px;
    right: -1px;
    width: 480px;
    height: 590px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

/* Container */

#app-container{
    width: 100%;
    background-color: white;
}

.about{
    background-color: var(--primary5-color);
    padding: 100px 0px 120px;
}

.about-content{
    width: var(--primary-width);
    margin: 0 auto;
}

.about-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-list__item{
    display: flex;
    align-items: center;
}

.about-icon{
    height: 70px;
    min-width: 70px;
    background-color: var(--primary2-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.about-info{
    display: inline-block;
    margin-left: 16px;
}

.about-history{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 120px;
}

.about-history__img{
    display: inline-block;
    width: 512px;
    height: 358px;
}

.history__img{
    width: 512px;
    height: 358px;
}

.about-history__wrap{
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 5px;
    border-left: 2px solid rgb(212, 203, 203);
}

.about-history__timehook{
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
}

.timehook__from{
    width: 45%;
}

.timehook__to{
    width: 45%;
    margin-left: 30px;
}

.about-signature{
    margin-top: 50px;
}

.about-signature__name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.about-signature__img{
    margin-top: 20px;
    width: 140px;
    height: 80px;
}

.menu{
    width: 100%;
    background-color: white;
    color: var(--primary2-color);
    padding: 160px 0 120px;
}

.menu-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: var(--primary-width);
    margin: 0 auto;
}

.menu-offers{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 30%;
}

.menu-offers__img{
    margin-top: 50px;
    background: url(../img/Photo-offers.png) top left / cover no-repeat;
    width: 100%;
    height: 440px;
}

.btn-seeall{
    margin-top: 44px;
}

.menu-lists{
    width: 70%;
    margin-top: 25px;
}

.menu-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 120px;
}

.menu-heading{
    width: 100%;
    font-size: 3.2rem;
    line-height: 3.2rem;
}

.menu-list{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 10px;
}

.menu-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.menu-item__img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
}
.menu-item__info{
    margin-left: 18px;
    flex-grow: 1;
}

.item-info__heading{
    font-size: 2.4rem;
    line-height: 2.2rem;
}

.menu-item__price{
    padding-top: 30px;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
}

/* Testtimonial */

.testimonial{
    width: 100%;
    background-color: var(--primary2-color);
    padding: 100px 0 140px;
    color: white;
    position: relative;
}

.testimonial-content{
    width: var(--primary-width);
    margin: 0 auto;
}

.testimonial-list{
    margin-top: 36px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 26px;
    flex-wrap: nowrap;
}

.testimonial-item{
    min-width: 422px;
    padding: 44px 38px;
    background-color: var(--primary4-color);
}

.testimonial-navigation{
    position: absolute;
    bottom: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
}

.testimonial-navigation__item{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--navigation-color);
}

.testimonial-navigation__item.active{
    background-color: var(--navigation-active-color);
}

.image{

}

.offer{

}

.relatedoffer{

}

.services{

}

.blog{

}

.reservation{

}

/* Footer */

#footer{

}
