#app{
    width: 100%;
}

/* Banner */

#banner{
    width: 100%;
    background-color: var(--primary2-color);
    position: relative;
    padding-top: 75px;
}

/* Header: info, mennu, welcome|title */

#header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header-info: btn , logo, btn*/

.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    width: var(--primary-width);
}

.header-info__logo{
    background: url(../img/Logo-19.svg) top center / cover no-repeat;
    width: 450px;
    height: 224px;
    color: var(--primary1-color);
    margin-right: -106px;
}

.line-separate{
    border-top: 1px solid rgb(111, 109, 109);
    width: 100%;
}

/* Header-menu: navbar, socials */

.header-menu{
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--primary-width);
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar li a{
    color: var(--text-color);
}

.navbar__item:nth-child(1){
    padding-left: 4px;
}

.navbar__item{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 38px;
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials li a{
    color: white;
}

.socials__item{
    padding: 0 12px;
    font-size: 3em;
}

.socials__item:last-child{
    padding-right: 0px;
}

.cart-and-reservation{
    display: flex;
    align-items: center;
}

/* Header - welcome */

.header-welcome{
    width: 100%;
    padding: 240px 340px;
    position: relative;
}

.header-welcome__title{
    display: inline-block;
    font-size: 12rem;
    line-height: 9rem;
    width: 600px;
    color: white;
}

.header-welcome__subtitle{
    padding: 40px 0 50px;
    font-size: 2.4rem;
    line-height: 2.9rem;
    width: 800px;
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
}

.header-welcome__icon{
    height: 440px;
    width: 440px;
    position: absolute;
    top: 28px;
    right: 70px;
    background: url(../img/Pattern-1.svg) center / contain no-repeat;
}

.header-welcome__showview{
    height: 852px;
    width: 790px;
    position: absolute;
    top: 40px;
    right: 250px;
    background-color: white;
    border-top: 40px solid var(--primary4-color);
    border-left: 40px solid var(--primary4-color);
    border-right: 40px solid var(--primary4-color);
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
}

.showview__img{
    background: url(../img/Photo-73.jpg) top center / cover no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 711px;
    height: 890px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

/* Container */

#app-container{
    width: 100%;
    background-color: white;
}

.about{
    background-color: var(--primary5-color);
    padding: 150px 0px;
}

.about-content{
    width: var(--primary-width);
    margin: 0 auto;
}

.about-list{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-list__item{
    display: flex;
    align-items: center;
}

.about-icon{
    width: 100px;
    height: 100px;
    background-color: var(--primary2-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.6rem;
    color: white;
}

.about-info{
    display: inline-block;
    margin-left: 22px;
}

.about-heading{
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 700;
}

.about-description{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-top: 14px;
    color: var(--primary3-color);
}

.about-history{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
}

.about-history__img{
    display: inline-block;
    width: 750px;
    height: 520px;
}

.history__img{
    width: 750px;
    height: 520px;
}

.about-history__wrap{
    margin-left: 60px;
    padding-left: 60px;
    border-left: 3px solid rgb(212, 203, 203);
}

.about-history__timehook{
    display: flex;
    margin-top: 50px;
}

.timehook__from{
    width: 400px;
}

.timehook__to{
    width: 400px;
    margin-left: 30px;
}

.about-signature{
    margin-top: 40px;
}

.about-signature__name{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.about-signature__img{
    margin-top: 40px;
}

.menu{

}

.testimonial{

}

.image{

}

.offer{

}

.relatedoffer{

}

.services{

}

.blog{

}

.reservation{

}

/* Footer */

#footer{

}
